/* Write your CSS here */
.btn {
  background-color: #ffffff;
  border-radius: 6px;
  border-width: 0px;
  width: 150px;
  padding: 10px;
  font-size: 28px;
  font-weight: 600;
  font-family: 'roboto';
}
